<!DOCTYPE html>

<html>
<head>
    
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/web.js"></script>
    
    
</head>
<body>
    <div class="main-content">
      {{>header}}
      <p>Hi, my name is Subhradip Mukherjee</p>
      <img class="portrait" src="/img/robot.png">
    </div>

    {{>footer}}
    
</body>





</html>